// Colors

$black: #0F0F0F;
$dark-gray: #19191B;
$gray: #323138;
$light-gray: #D6D6D6;
$white: #F5F5F5;

$orange: #FF5C00;
$dark-orange: #FB610B;
$orange-2: #FF7C32;
$orange-3: #FFB58B;
$light-orange: #FFD0B6;

$green: #0DAF7A;

// Font

$font-family: 'Outfit', sans-serif;